<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/frontend/static/css/style.css" />
        <link rel="stylesheet" href="/frontend/static/css/error-page.css" />
        <title>{{ .ErrMessage }}</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="logo">
                <a href="/">Forum</a>
            </div>

            <div class="right-container">
                

            </div>

        </nav>

        <div class="wrapper">
            <div class="container">
                <pre class="status-code">{{ .Code }}</pre>
                <pre class="status-message">{{ .ErrMessage }}</pre>
                <button><a href="/" >Back to Homepage</a></button>
            </div>
        </div>

        <footer class="footer">
            <p class="footer-text">@2025 All Rights Reserved</p>
        </footer>
    </body>

</html>